.rightsite{
    margin-top: 15%;
    h1{
        margin-left: 40%;
    }
    h4{
        margin-top: 5%;
        
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.resa{
    margin-left: 20%;
}