.skills{
    height: 600px;
    .stats{
        margin-left: 40%;
        margin-top: 10%;
    }
    .htm{
        border-radius: 100px;
        margin-top: 16%;
    }
    h1{
        margin-left: 50px;
    }
    .css{
        width: 200px;
        margin-left: 25%;
        margin-top: -50%;
    }
    .csss{
        margin-left: 26%;
        margin-top: -19%;
    }
    .react{
        width: 300px;
        margin-left: 47%;
        margin-top: -6%;
    }
    .reacts{
        margin-left: 49%;
    }
    .git{
        width: 500px;
        margin-left: 70%;
        margin-top: -46%;
    }
}